@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



/*--------------------------------------------HEADING*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/bw4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}



.bg-color {
    background-color: #f8f1f1;
    min-height: 360px;
    font-family: 'Bubbler One', sans-serif;
}

.elevators-cover {
    background-image: url("../images/back1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    margin: 0;
} 

.elevators {
    font-family: 'Bubbler One', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin: 20px;
    color: #fff;
    filter: alpha(opacity=100);
    opacity: 1;
}

.color-menu {
    background-color: rgba(112, 113, 114, 0.945);
    height: 60px;
    align-items: center;
}

.row {
    --bs-gutter-x: 0;
}

.menucontainer {
    font-size: 0;
    height: auto;
    margin: 0;
}

#nav li {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#nav li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-left: 0;
    
    font-family: 'Bubbler One', sans-serif;
    letter-spacing: 3px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 2rem;
}

.hvr-sweep-to-top:before {
    background: rgba(0, 0, 0, 0.2);
    height: 2rem;
}


.list-inline-item:not(:last-child) {
   margin: 0;
}


/*.......................................FOOTER*/

 
 footer {
    background-color: #525252;
    min-height: 60px;
    margin: 0;
    position:fixed;
    bottom:0;
    text-align: center;
    display: inline-block;
}

.col-sm-3 a {
    text-align: center;
    
    padding-right: 20px;
    color: #fff;
}
 
 


@media screen and (max-width: 992px) {
    .logo {
        background-position: unset;
    }
}

@media screen and (max-width: 540px) {
    .logo {
        min-height: 480px;
    }
}